/*@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons');*/
/*@import url('https://fonts.googleapis.com/css?family=Kanit');*/
@import url('https://fonts.googleapis.com/css?family=Mitr:200');
@import url('https://fonts.googleapis.com/css?family=Charmonman');
body { margin: 0; padding: 0; }

#App {
  font-family: 'Roboto', sans-serif;
  font-family: 'Kanit', sans-serif;
  font-family: 'Mitr', sans-serif;
  
  
}

.container {
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

